<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :alamat %>
    <%= form.text_field :alamat %>
  </div>
  <div class="field">
    <%= form.label :tahun_berdiri %>
    <%= form.text_field :tahun_berdiri%>
  </div>
  <div class="field">
    <%= form.label :luas%>
    <%= form.text_field :luas%>
  </div>
  <div class="field">
    <%= form.label :fasilitas%>
    <%= form.text_area :fasilitas%>
  </div>
  <div class="field">
    <%= form.label :waktu_operasional%>
    <%= form.text_area :waktu_operasional%>
  </div>
  <div class="field">
    <%= form.label :tarif_masuk%>
    <%= form.text_area :tarif_masuk%>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <legend>Polygon</legend>
    <%= form.file_field :avatar%>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
