<p id="notice"><%= notice %></p>

<% if current_user %>
<h1>Wisata di P.Ambon</h1>

<table>
  <thead>
    <tr>
      <th>Alamat</th>
      <th>Tahun Berdiri</th>
      <th>Luas</th>
      <th>Fasilitas</th>
      <th>Waktu Operasional</th>
      <th>Tarif Masuk</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Polygon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @places.each do |place| %>
      <tr>
        <td><%= place.alamat %></td>
        <td><%= place.tahun_berdiri%></td>
        <td><%= place.luas%></td>
        <td><%= place.fasilitas%></td>
        <td><%= place.waktu_operasional%></td>
        <td><%= place.tarif_masuk%></td>
        <td><%= place.latitude %></td>
        <td><%= place.longitude %></td>
        <td><%= place.avatar%></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'Tambah wisata', new_place_path %>
<% else %>
      bukang 
    <% end %>
<%=  link_to 'Beranda', root_path %>
