 <style>
      #map {
    width: 600px;
    height: 400px;
}
    </style>

<% provide :head_tags do %>
	<meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@place.latitude%>, <%=@place.longitude%>)
    });
    </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Alamat:</strong>
  <%= @place.alamat %>
</p>

<p>
  <strong>Tahun Berdiri:</strong>
  <%= @place.tahun_berdiri%>
</p>

<p>
  <strong>Luas:</strong>
  <%= @place.luas%>
</p>

<p>
  <strong>Fasilitas:</strong>
  <%= @place.fasilitas%>
</p>

<p>
  <strong>Waktu Operasional:</strong>
  <%= @place.waktu_operasional%>
</p>

<p>
  <strong>Tarif Masuk:</strong>
  <%= @place.tarif_masuk%>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Polygon:</strong>
  <% unless @place.avatar_url.nil? %><%= image_tag @place.avatar_url(:display)%><br />
  <% end %>
</p>

<p>
	<h2>Map Dinamis</h2><br>
	<div id="map"></div>

  <script>
      function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
    center: myCoords,
    zoom: 14
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker({
    	position: myCoords,
    	map: map
    });
}
    </script>
</p>



<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
